In [1]:
import pandas as pd 
import numpy as np 
from scipy import  stats 
import matplotlib.pyplot as plt 
import seaborn as sns
import os

In [2]:
glorich_df = pd.read_csv("data/final_glorich_dataset.csv")
imputed_hydro = pd.read_csv("data/imputed_conditions_11-15.csv")

In [7]:
glorich_df.columns

Index(['STAT_ID', 'Latitude', 'Longitude', 'geometry', 'sc', 'ss', 'su', 'mt',
       'va', 'vb', 'vi', 'pa', 'pb', 'pi', 'GLC_Artificial', 'GLC_Managed',
       'GLC_Water', 'GLC_Aquatic_Veg', 'GLC_PERC_COV', 'Popdens_00', 'Soil_pH',
       'SOC', 'Soil_wetness', 'pH', 'SpecCond25C', 'Alkalinity', 'Cl', 'SO4',
       'DIP', 'date'],
      dtype='object')

In [11]:
glorich_df[['STAT_ID', 'Soil_wetness', 'date']].sort_values(by='STAT_ID').tail(10)

       STAT_ID  Soil_wetness        date
22863   401573         46.78  2004-09-01
9809    401573         46.78  2002-08-01
13598   401573         46.78  2003-03-01
29813   401573         46.78  2005-09-01
6539    401573         46.78  2002-01-01
45477   401573         46.78  2007-10-01
9507    401573         46.78  2002-07-01
22510   401573         46.78  2004-08-01
21191   401573         46.78  2004-06-01
40222   401573         46.78  2007-01-01

In [12]:
glorich_df = glorich_df.drop(columns = ['pH', 'SpecCond25C', 'Alkalinity', 'Cl', 'SO4',
       'DIP', 'date'])

glorich_df = glorich_df.groupby('STAT_ID').max()

In [13]:
glorich_df.head()

,Latitude,Longitude,geometry,sc,ss,su,mt,va,vb,vi,...,pi,GLC_Artificial,GLC_Managed,GLC_Water,GLC_Aquatic_Veg,GLC_PERC_COV,Popdens_00,Soil_pH,SOC,Soil_wetness
STAT_ID,,,,,,,,,,,,,,,,,,,,,
400001,-32.31,18.33,POINT (18.33 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005508,0.0,100.0,4.75,6.7,3.08,34.46
400002,-32.31,18.34,POINT (18.34 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005508,0.0,100.0,4.75,6.7,3.08,34.46
400003,-32.31,18.34,POINT (18.34 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005511,0.0,100.0,4.70,6.7,3.08,34.46
400004,-32.31,18.35,POINT (18.35 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005511,0.0,100.0,4.70,6.7,3.08,34.46
400005,-32.34,18.42,POINT (18.42 -32.34),0.0,0.38,0.22,0.0,0.0,0.0,0.0,...,0.0,0.0,0.25,0.002830,0.0,100.0,4.46,6.7,3.12,34.46

In [5]:
imputed_hydro.head()

,STAT_ID,date,Alkalinity,Cl,DIP,SO4,SpecCond25C,pH,Alkalinity_reliability,Cl_reliability,DIP_reliability,SO4_reliability,SpecCond25C_reliability,pH_reliability
0,400020,2011-01-01,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
1,400020,2011-01-15,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
2,400020,2011-02-01,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
3,400020,2011-02-15,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
4,400020,2011-03-01,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0

In [16]:
imputed_glorich_df = pd.merge(glorich_df, imputed_hydro, on='STAT_ID', how='left')
imputed_glorich_df.head(30)

,STAT_ID,Latitude,Longitude,geometry,sc,ss,su,mt,va,vb,...,DIP,SO4,SpecCond25C,pH,Alkalinity_reliability,Cl_reliability,DIP_reliability,SO4_reliability,SpecCond25C_reliability,pH_reliability
0,400001,-32.31,18.33,POINT (18.33 -32.31),0.0,0.38,2.300000e-01,0.000000,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,400002,-32.31,18.34,POINT (18.34 -32.31),0.0,0.38,2.300000e-01,0.000000,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,400003,-32.31,18.34,POINT (18.34 -32.31),0.0,0.38,2.300000e-01,0.000000,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,400004,-32.31,18.35,POINT (18.35 -32.31),0.0,0.38,2.300000e-01,0.000000,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,400005,-32.34,18.42,POINT (18.42 -32.34),0.0,0.38,2.200000e-01,0.000000,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,400006,-32.34,18.42,POINT (18.42 -32.34),0.0,0.38,2.200000e-01,0.000000,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,400008,-32.50,18.60,POINT (18.6 -32.5),0.0,0.35,1.400000e-01,0.000000,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,400011,-32.60,18.77,POINT (18.77 -32.6),0.0,0.08,2.505453e-08,0.000000,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,400012,-32.20,18.38,POINT (18.38 -32.2),0.0,0.70,2.900000e-01,0.000000,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,400013,-32.08,18.37,POINT (18.37 -32.08),0.0,0.48,5.100000e-01,0.000000,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,400014,-25.59,27.29,POINT (27.29 -25.59),0.0,0.23,0.000000e+00,0.004304,0.0,0.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,400016,-32.10,18.39,POINT (18.39 -32.1),0.0,0.49,5.000000e-01,0.000000,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,400017,-32.11,18.42,POINT (18.42 -32.11),0.0,0.64,3.500000e-01,0.000000,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,400018,-32.34,18.71,POINT (18.71 -32.34),0.0,0.99,0.000000e+00,0.000000,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,400019,-32.25,18.75,POINT (18.75 -32.25),0.0,1.00,0.000000e+00,0.000000,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,400020,-32.81,27.63,POINT (27.63 -32.81),0.0,0.95,0.000000e+00,0.000000,0.0,0.04,...,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
16,400020,-32.81,27.63,POINT (27.63 -32.81),0.0,0.95,0.000000e+00,0.000000,0.0,0.04,...,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
17,400020,-32.81,27.63,POINT (27.63 -32.81),0.0,0.95,0.000000e+00,0.000000,0.0,0.04,...,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
18,400020,-32.81,27.63,POINT (27.63 -32.81),0.0,0.95,0.000000e+00,0.000000,0.0,0.04,...,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
19,400020,-32.81,27.63,POINT (27.63 -32.81),0.0,0.95,0.000000e+00,0.000000,0.0,0.04,...,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
20,400020,-32.81,27.63,POINT (27.63 -32.81),0.0,0.95,0.000000e+00,0.000000,0.0,0.04,...,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
21,400020,-32.81,27.63,POINT (27.63 -32.81),0.0,0.95,0.000000e+00,0.000000,0.0,0.04,...,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
22,400020,-32.81,27.63,POINT (27.63 -32.81),0.0,0.95,0.000000e+00,0.000000,0.0,0.04,...,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
23,400020,-32.81,27.63,POINT (27.63 -32.81),0.0,0.95,0.000000e+00,0.000000,0.0,0.04,...,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
24,400020,-32.81,27.63,POINT (27.63 -32.81),0.0,0.95,0.000000e+00,0.000000,0.0,0.04,...,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
25,400020,-32.81,27.63,POINT (27.63 -32.81),0.0,0.95,0.000000e+00,0.000000,0.0,0.04,...,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
26,400020,-32.81,27.63,POINT (27.63 -32.81),0.0,0.95,0.000000e+00,0.000000,0.0,0.04,...,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
27,400020,-32.81,27.63,POINT (27.63 -32.81),0.0,0.95,0.000000e+00,0.000000,0.0,0.04,...,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
28,400020,-32.81,27.63,POINT (27.63 -32.81),0.0,0.95,0.000000e+00,0.000000,0.0,0.04,...,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
29,400020,-32.81,27.63,POINT (27.63 -32.81),0.0,0.95,0.000000e+00,0.000000,0.0,0.04,...,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0

In [17]:
imputed_glorich_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110925 entries, 0 to 110924
Data columns (total 36 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   STAT_ID                  110925 non-null  int64
 1   Latitude                 110925 non-null  float64
 2   Longitude                110925 non-null  float64
 3   geometry                 110925 non-null  object
 4   sc                       110925 non-null  float64
 5   ss                       110925 non-null  float64
 6   su                       110925 non-null  float64
 7   mt                       110925 non-null  float64
 8   va                       110925 non-null  float64
 9   vb                       110925 non-null  float64
 10  vi                       110925 non-null  float64
 11  pa                       110925 non-null  float64
 12  pb                       110925 non-null  float64
 13  pi                       110925 non-null  float64
 14  GLC_Artificial           110925 non-null  float64
 15  GLC_Managed              110925 non-null  float64
 16  GLC_Water                110925 non-null  float64
 17  GLC_Aquatic_Veg          110925 non-null  float64
 18  GLC_PERC_COV             110925 non-null  float64
 19  Popdens_00               110925 non-null  float64
 20  Soil_pH                  110805 non-null  float64
 21  SOC                      110805 non-null  float64
 22  Soil_wetness             110805 non-null  float64
 23  date                     110640 non-null  object
 24  Alkalinity               77400 non-null   float64
 25  Cl                       86880 non-null   float64
 26  DIP                      100200 non-null  float64
 27  SO4                      91320 non-null   float64
 28  SpecCond25C              103800 non-null  float64
 29  pH                       109560 non-null  float64
 30  Alkalinity_reliability   77400 non-null   float64
 31  Cl_reliability           86880 non-null   float64
 32  DIP_reliability          100200 non-null  float64
 33  SO4_reliability          91320 non-null   float64
 34  SpecCond25C_reliability  103800 non-null  float64
 35  pH_reliability           109560 non-null  float64
dtypes: float64(33), int64(1), object(2)
memory usage: 30.5+ MB

In [18]:
imputed_glorich_df.to_csv("data/final_imputed_glorich.csv", index=False)

In [23]:
glorich_df = glorich_df.reset_index()
glorich_df.head()

,STAT_ID,Latitude,Longitude,geometry,sc,ss,su,mt,va,vb,...,pi,GLC_Artificial,GLC_Managed,GLC_Water,GLC_Aquatic_Veg,GLC_PERC_COV,Popdens_00,Soil_pH,SOC,Soil_wetness
0,400001,-32.31,18.33,POINT (18.33 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005508,0.0,100.0,4.75,6.7,3.08,34.46
1,400002,-32.31,18.34,POINT (18.34 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005508,0.0,100.0,4.75,6.7,3.08,34.46
2,400003,-32.31,18.34,POINT (18.34 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005511,0.0,100.0,4.70,6.7,3.08,34.46
3,400004,-32.31,18.35,POINT (18.35 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005511,0.0,100.0,4.70,6.7,3.08,34.46
4,400005,-32.34,18.42,POINT (18.42 -32.34),0.0,0.38,0.22,0.0,0.0,0.0,...,0.0,0.0,0.25,0.002830,0.0,100.0,4.46,6.7,3.12,34.46

In [24]:
glorich_df[['STAT_ID', 'Latitude', 'Longitude', 'geometry']].to_csv("data/stations.csv", index=False)