In [16]:
import pandas as pd 
import numpy as np 
from scipy import  stats 
import matplotlib.pyplot as plt 
import seaborn as sns
import os

In [17]:
glorich_df = pd.read_csv("data/final_glorich_dataset.csv")
imputed_hydro = pd.read_csv("data/imputed_conditions_11-15.csv")

In [18]:
glorich_df.columns

Index(['STAT_ID', 'Latitude', 'Longitude', 'geometry', 'sc', 'ss', 'su', 'mt',
       'va', 'vb', 'vi', 'pa', 'pb', 'pi', 'GLC_Artificial', 'GLC_Managed',
       'GLC_Water', 'GLC_Aquatic_Veg', 'GLC_PERC_COV', 'Popdens_00', 'Soil_pH',
       'SOC', 'Soil_wetness', 'pH', 'SpecCond25C', 'Alkalinity', 'Cl', 'SO4',
       'DIP', 'date'],
      dtype='object')

In [19]:
glorich_df[['STAT_ID', 'Soil_wetness', 'date']].sort_values(by='STAT_ID').tail(10)

       STAT_ID  Soil_wetness        date
41917   401573         46.78  2007-04-01
20089   401573         46.78  2004-04-01
42962   401573         46.78  2007-05-01
14392   401573         46.78  2003-05-01
20323   401573         46.78  2004-05-01
14049   401573         46.78  2003-04-01
46278   401573         46.78  2007-12-01
3412    401573         46.78  2001-07-01
39048   401573         46.78  2006-11-01
46065   401573         46.78  2007-11-01

In [20]:
glorich_df = glorich_df.drop(columns = ['pH', 'SpecCond25C', 'Alkalinity', 'Cl', 'SO4',
       'DIP', 'date'])

glorich_df = glorich_df.groupby('STAT_ID').max()

In [21]:
glorich_df.head()

,Latitude,Longitude,geometry,sc,ss,su,mt,va,vb,vi,...,pi,GLC_Artificial,GLC_Managed,GLC_Water,GLC_Aquatic_Veg,GLC_PERC_COV,Popdens_00,Soil_pH,SOC,Soil_wetness
STAT_ID,,,,,,,,,,,,,,,,,,,,,
400001,-32.31,18.33,POINT (18.33 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005508,0.0,100.0,4.75,6.7,3.08,34.46
400002,-32.31,18.34,POINT (18.34 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005508,0.0,100.0,4.75,6.7,3.08,34.46
400003,-32.31,18.34,POINT (18.34 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005511,0.0,100.0,4.70,6.7,3.08,34.46
400004,-32.31,18.35,POINT (18.35 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005511,0.0,100.0,4.70,6.7,3.08,34.46
400005,-32.34,18.42,POINT (18.42 -32.34),0.0,0.38,0.22,0.0,0.0,0.0,0.0,...,0.0,0.0,0.25,0.002830,0.0,100.0,4.46,6.7,3.12,34.46

In [22]:
imputed_hydro.head()

,STAT_ID,date,Alkalinity,Cl,DIP,SO4,SpecCond25C,pH,Alkalinity_reliability,Cl_reliability,DIP_reliability,SO4_reliability,SpecCond25C_reliability,pH_reliability
0,400020,2011-01-01,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
1,400020,2011-01-15,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
2,400020,2011-02-01,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
3,400020,2011-02-15,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
4,400020,2011-03-01,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0

In [30]:
imputed_glorich_df = pd.merge(glorich_df.reset_index()[['STAT_ID', 'Latitude', 'Longitude']], imputed_hydro, on='STAT_ID', how='left')
imputed_glorich_df.head(30)

,STAT_ID,Latitude,Longitude,date,Alkalinity,Cl,DIP,SO4,SpecCond25C,pH,Alkalinity_reliability,Cl_reliability,DIP_reliability,SO4_reliability,SpecCond25C_reliability,pH_reliability
0,400001,-32.31,18.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,400002,-32.31,18.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,400003,-32.31,18.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,400004,-32.31,18.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,400005,-32.34,18.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,400006,-32.34,18.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,400008,-32.50,18.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,400011,-32.60,18.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,400012,-32.20,18.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,400013,-32.08,18.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,400014,-25.59,27.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,400016,-32.10,18.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,400017,-32.11,18.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,400018,-32.34,18.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,400019,-32.25,18.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,400020,-32.81,27.63,2011-01-01,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
16,400020,-32.81,27.63,2011-01-15,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
17,400020,-32.81,27.63,2011-02-01,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
18,400020,-32.81,27.63,2011-02-15,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
19,400020,-32.81,27.63,2011-03-01,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
20,400020,-32.81,27.63,2011-03-15,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
21,400020,-32.81,27.63,2011-04-01,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
22,400020,-32.81,27.63,2011-04-15,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
23,400020,-32.81,27.63,2011-05-01,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
24,400020,-32.81,27.63,2011-05-15,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
25,400020,-32.81,27.63,2011-06-01,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
26,400020,-32.81,27.63,2011-06-15,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
27,400020,-32.81,27.63,2011-07-01,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
28,400020,-32.81,27.63,2011-07-15,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0
29,400020,-32.81,27.63,2011-08-01,NaN,NaN,5.878731,NaN,84.003333,7.796,NaN,NaN,0.7,NaN,1.0,1.0

In [26]:
imputed_glorich_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110925 entries, 0 to 110924
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   STAT_ID                  110925 non-null  int64
 1   date                     110640 non-null  object
 2   Alkalinity               77400 non-null   float64
 3   Cl                       86880 non-null   float64
 4   DIP                      100200 non-null  float64
 5   SO4                      91320 non-null   float64
 6   SpecCond25C              103800 non-null  float64
 7   pH                       109560 non-null  float64
 8   Alkalinity_reliability   77400 non-null   float64
 9   Cl_reliability           86880 non-null   float64
 10  DIP_reliability          100200 non-null  float64
 11  SO4_reliability          91320 non-null   float64
 12  SpecCond25C_reliability  103800 non-null  float64
 13  pH_reliability           109560 non-null  float64
dtypes: float64(12), int64(1), object(1)
memory usage: 11.8+ MB

In [31]:
imputed_glorich_df.to_csv("data/final_imputed_hydrochem.csv", index=False)

In [ ]:
glorich_df.columns

In [28]:
glorich_df = glorich_df.reset_index()
glorich_df.head()

,STAT_ID,Latitude,Longitude,geometry,sc,ss,su,mt,va,vb,...,pi,GLC_Artificial,GLC_Managed,GLC_Water,GLC_Aquatic_Veg,GLC_PERC_COV,Popdens_00,Soil_pH,SOC,Soil_wetness
0,400001,-32.31,18.33,POINT (18.33 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005508,0.0,100.0,4.75,6.7,3.08,34.46
1,400002,-32.31,18.34,POINT (18.34 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005508,0.0,100.0,4.75,6.7,3.08,34.46
2,400003,-32.31,18.34,POINT (18.34 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005511,0.0,100.0,4.70,6.7,3.08,34.46
3,400004,-32.31,18.35,POINT (18.35 -32.31),0.0,0.38,0.23,0.0,0.0,0.0,...,0.0,0.0,0.25,0.005511,0.0,100.0,4.70,6.7,3.08,34.46
4,400005,-32.34,18.42,POINT (18.42 -32.34),0.0,0.38,0.22,0.0,0.0,0.0,...,0.0,0.0,0.25,0.002830,0.0,100.0,4.46,6.7,3.12,34.46

In [29]:
glorich_df.to_csv("data/stations_with_conditions.csv", index=False)

In [ ]:
# [['STAT_ID', 'Latitude', 'Longitude', 'geometry']]